@{
    ViewData["Title"] = "Listar Clientes";
}

<div class="text-center">
    <h2>Clientes en el sistema</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Ref direccion</th>
                <th>Eliminar</th>
                <th>Modificar</th>
            </tr>
        </thead>
        <tbody>
            @{
                string path_clientes = @"Recursos\clientes.csv";
                string[]leer = System.IO.File.ReadAllLines(path_clientes);}
                @foreach (string item in leer)
                {
                    string[]linea = item.Split(";");
                    <Tr>
                        <Td>@linea[0]</Td>
                        <Td>@linea[1]</Td>
                        <Td>@linea[2]</Td>
                        <Td>@linea[3]</Td>
                        <Td>@linea[4]</Td>
                        <Td>
                            <a href="@Url.Action("BajarCliente","Cliente", new { id = linea[0]} )">
                                Eliminar
                            </a>
                        </Td>

                        <Td> 
                            <a href="@Url.Action("ModificarCliente","Cliente", new { id = linea[0]} )">
                                Modificar
                            </a>       
                        </Td>
                    </Tr>
                }
    </table>
    
    
</div>