@{
    ViewData["Title"] = "Listar Clientes";
}

@using WebCadeteria.ViewModels
@model List<ClienteViewModel>

<div class="text-center">
    <h2>Clientes en el sistema</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Ref direccion</th>
                <th>Eliminar</th>
                <th>Modificar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <td>@cliente.Id</td>
                    <td>@cliente.Nombre</td>
                    <td>@cliente.Direccion</td>
                    <td>@cliente.Telefono</td>
                    <td>@cliente.DatosReferenciaDireccion</td>
                    <td>
                        <a href="@Url.Action("BajarCliente","Cliente", new { id = @cliente.Id} )">
                            Eliminar
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("ModificarCliente","Cliente", new { id = @cliente.Id} )">
                            Modificar
                        </a>     
                    </td>
                </tr>
            }
    </table>    
</div>