@{
    ViewData["Title"] = "Listar Pedidos";
}

@using WebCadeteria.ViewModels
@model List<PedidoViewModel>

<div class="text-center">
    <h2>Pedidos en el sistema</h2>
    <table>
        <thead>
            <tr>
                <th>Numero</th>
                <th>Observacion</th>
                <th>Estado</th>
                <th>Cliente</th>
                <th>Cadete</th>
                <th>Eliminar</th>
                <th>Modificar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pedido in Model)
            {
                <tr>
                    <td>@pedido.Nro</td>
                    <td>@pedido.Obs</td>
                    <td>@pedido.Estado</td>
                    <td>@pedido.Cliente</td>
                    <td>@pedido.Cadete</td>
                    <td>
                        <a href="@Url.Action("BajarPedido","pedido", new { id = @pedido.Nro} )">
                            Eliminar
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("ModificarPedido","pedido", new { id = @pedido.Nro} )">
                            Modificar
                        </a>     
                    </td>
                </tr>
            }
    </table>
    
    
</div>