@model WebCadeteria.ViewModels.CadeteViewModel
@{
    ViewData["Title"] = "Alta Cadete";
}
<h4>ALTA CADETE: </h4>
<form asp-controller="Cadete" asp-action= "CargarCadete" method="POST">
    <label asp-for="@Model.Nombre">Nombre: 
        <input asp-for="@Model.Nombre" placeholder="Ej: Juanito">
        <span asp-validation-for="@Model.Nombre"></span>
    </label>

    <label asp-for="@Model.Direccion">Direccion: 
        <input asp-for="@Model.Direccion" placeholder="Ej: Av. Independencia 1900">
        <span asp-validation-for="@Model.Direccion"></span>
    </label>

    <label asp-for="@Model.Telefono">Telefono: 
        <input asp-for="@Model.Telefono" placeholder="Ej: 4256162">
        <span asp-validation-for="@Model.Telefono"></span>
    </label>
    <fieldset>
        <button>Enviar</button>
    </fieldset>
</form>

@section Scripts { <partial name = "_ValidationScriptsPartial" /> } 
