@{
    ViewData["Title"] = "Listar Cadetes";
}

@using WebCadeteria.ViewModels
@model List<CadeteViewModel>

<div class="text-center">
    <h2>Cadetes en el sistema</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Eliminar</th>
                <th>Modificar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cadete in Model)
            {
                <tr>
                    <td>@cadete.Id</td>
                    <td>@cadete.Nombre</td>
                    <td>@cadete.Direccion</td>
                    <td>@cadete.Telefono</td>
                    <td>
                        <a href="@Url.Action("BajarCadete","Cadete", new { id = @cadete.Id } )">
                            Eliminar
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("ModificarCadete","Cadete", new { id = @cadete.Id } )">
                            Modificar
                        </a>     
                    </td>
                </tr>
            }
    </table>    
</div>