@{
    ViewData["Title"] = "Listar Usuarios";
}

@using WebCadeteria.ViewModels
@model List<ListarUsuarioViewModel>

@inject IHttpContextAccessor HttpContextAccessor
@{
    var rol = HttpContextAccessor.HttpContext?.Session.GetString("Rol");
}

<div class="container-principal">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <h3 class="col-md-2 text-start"class="navbar-brand">CadeteriaWeb</h3>
        <nav class="col-md-8">
            <ul class="menu">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                @{
                    if(rol == "Administrador"){
                        <li>
                            <a href="#">Cadete</a>
                            <ul class="submenu">
                                <li class="text-center"><a asp-controller="Cadete" asp-action="Index">Listar Cadetes</a></li>
                                <li class="text-center"><a asp-controller="Cadete" asp-action="CargarCadete">Cargar Cadete</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Cliente</a>
                            <ul class="submenu">
                                <li class="text-center"><a asp-controller="Cliente" asp-action="Index">Listar Clientes</a></li>
                                <li class="text-center"><a asp-controller="Cliente" asp-action="CargarCliente">Cargar Cliente</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Pedido</a>
                            <ul class="submenu">
                                <li class="text-center"><a asp-controller="Pedido" asp-action="Index">Listar Pedidos</a></li>
                                <li class="text-center"><a asp-controller="Pedido" asp-action="AgregarPedido">Cargar Pedido</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Usuario</a>
                            <ul class="submenu">
                                <li class="text-center"><a asp-controller="Usuario" asp-action="Index">Listar Usuarios</a></li>
                                <li class="text-center"><a asp-controller="Usuario" asp-action="CargarUsuario">Cargar Usuario</a></li>
                            </ul>
                        </li>
                    }else{
                        <li>
                            <a href="#">Pedido</a>
                            <ul class="submenu">
                                <li class="text-center"><a asp-controller="Pedido" asp-action="Index">Listar Pedidos</a></li>
                            </ul>
                        </li>
                    }
                }
            </ul>
        </nav>    

        <div class="col-md-2 text-end">
            <button  type="button" class="btn btn-outline-dark me-2" width="100%">
                <a asp-controller="Sesion" asp-action="Logout" class="nav-link px-4">Cerrar Sesión</a>
            </button>
            
        </div>
    </header>

    <div class="middle-section">
        <div class="text-center">
            <h2 class="mb-5">Usuarios en el sistema</h2>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Rol</th>
                        @{
                            if(rol == "Administrador"){
                                <th scope="col">Eliminar</th>
                                <th scope="col">Modificar</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var usuario in Model)
                    {
                        <tr>
                            <td scope="row">@usuario.Nombre</td>
                            <td>@usuario.User</td>
                            <td>@usuario.Rol</td>
                            @{
                                if(rol == "Administrador"){
                                    <td>
                                        <form method="post" action="@Url.Action("BajarUsuario", "Usuario", new { id = @usuario.Id })">
                                            <button type="submit" class="btn btn-link text-decoration-underline border-0">Eliminar</button>
                                        </form>
                                    </td>
                                    <td>
                                        <a class="btn btn-link text-decoration-underline border-0" href="@Url.Action("ModificarUsuario","Usuario", new { id = @usuario.Id} )">
                                            Modificar
                                        </a>     
                                    </td>
                                }
                            }
                        </tr>
                    }
            </table>
            <div class="col-md-2 text-center mx-auto my-5">
                <button  type="button" class="btn btn-outline-dark me-2" width="100%">
                    <a asp-controller="Usuario" asp-action="CargarUsuario" class="nav-link px-4">Agregar usuario</a>
                </button>    
            </div>      
        </div>

    </div>
        
    <footer class="py-3">
        <p class="text-center text-body-secondary">© 2022 WebCadeteria</p>
    </footer>
</div>

@section Scripts { <partial name = "_ValidationScriptsPartial" /> } 
